*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    background: var(--light-grey);
    max-width: 100%;
    
}
:root{
    --light-grey:#eeeeee;
    --dark-grey:#dddddd;
    --yellow:#f1c40f;
    --orange:#ff8c00;
    --black:#000;
    --light-dark:rgb(118, 118, 118);
    --footer-black:#444;
}
.container{
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}
header{
    min-height: 75px;
    padding: 0 20px;
}
#header {
    display: flex;
    align-items: center;
}
#header {
position: fixed;
top: 0;
min-height: 75px;
padding: 0px 20px;
display: flex;
justify-content: space-around;
align-items: center;
background-color: #eee;
}
.logo{
    width: 60vw;
    margin-left:20px;
}
.logo img{
    height: 34.14px;
    width:300px;
}
a {
    display: inline-block;
    color: var(--black);
   
    font-weight: 400;
}

a:not(last-child){
    padding: 0 35px;
}
nav#nav-bar {
    top: 0;
    width: 35vw;
    display: flex;
    justify-content: space-around;
}

section#hero-section {
    text-align: center;
    padding-top: 10px;
}
#hero-section h2 {
    margin-bottom: 20px;
}
input#email {
    padding: 5px;
    border: 1px solid var(--light-dark);
    max-width: 261px;
    width: 100%;
    background: #fff;
}
input#submit {
    margin: 15px 0;
    padding: 0 20px;
    height: 30px;
    background: var(--yellow);
    font-size: 1em;
    border: 0;
    border-radius: 2px;
    font-weight: 900;
    text-transform: uppercase;
    max-width: 150px;
    width: 100%;
    transition: background-color 1s;
}
input#submit:hover{
    background-color: var(--orange);
}
.feateres {
    margin: 50px 0;
}
.icon-text-conta {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 125px;
}
.icon {
    width: 20vw;
    color: var(--orange);
    text-align: center;
    height: 125px;
    align-items: center;
    display: flex;
    justify-content: space-around;
}
.how-it-work {
    text-align: center;
}
div#Pricing {
    margin-top: 60px;
}
.pricing-cards {
    display: flex;
    text-align: center;
    justify-content: space-around;
}
.pricing-cards li{
    list-style-type: none;
}
.pricing-cards h3 {
    padding: 15px 0;
    background: var(--dark-grey);
    width: 100%;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1em;
}
.card1 {
    flex-basis: 33%;
    gap: 1rem;
    margin: 10px;
    border: 1px solid var(--black);
    border-radius: 3px;
}
.card1 h2,ul {
    margin-top: 15px;
}
.card1 li {
    padding: 5px 0;
}
button#select {
    border: 0;
    margin: 15px 0;
    background-color: #f1c40f;
    font-weight: 400;
    padding: 0 20px;
    height: 40px;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    border-radius: 2px;
    transition: background-color 1s;
}
button#select:hover{
    background-color: var(--orange);
}
footer {
    margin-top: 30px;
    padding: 20px;
    text-align: right;
    background-color: var(--dark-grey) ;
}
footer > a {
    padding: 0 10px;
    margin-bottom: 5px;
    background-color: var(--dark-grey) ;
}
footer span{
    color: var(--footer-black);
    font-size: 0.9em;
    background-color: var(--dark-grey) ;
}

@media screen and (max-width:768px){
    html{
        font-size:14px;
        max-width: 100%;
    }
    a:not(last-child) {
        padding: 0;
    }
    #header {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        justify-content: center;
        text-align: center;
    }
    .logo ,#nav-bar{
        width:100%;
    }
    #header a{
        margin: 20px 0;
    }
    .feateres,#pricing{
        padding: 0 1.5rem;
    }
    div#Pricing {
        display: flex;
        flex-direction: column;
        
    }
}

